:root {
    --headerText: #355839;
    --text: #3e3e3e;
    --secondaryText: #828282;
    --background: #f6ded1;
    --primary: #48744d; 
}

body {
    background-color:  var(--background);
    margin: 0;
    padding: 0;
}

h1{
    margin-left: 20px;
    color: var(--headerText);
    font-family: 'DM Serif Display';
    font-weight: bolder;
}

header{
    position:fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    background: rgba(218, 205, 179, 0.37);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(135, 79, 31, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.13);
    width: 95%;
    height: 50px;
}

footer{
    margin-left: 10px;
    color: var(--text);
    font-family: 'Raleway';
}

.gallery {
    display: flex;
    flex-flow: row wrap;
}

.product-card {
    height: 380px;
    width: 45%;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.216);
}

.product-image {
    float: left;
    height: 380px;
    width: 295px;
    border-radius: 7px 7px 7px 7px;
    margin-right: 15px;
}

.product-name{
    font-family: 'Roboto Slab';
    color: var(--headerText);
}

.product-brand{
    font-family: 'Raleway';
    font-size: small;
    text-transform: uppercase;
    color: var(--secondaryText);
}

.product-description{
    font-family: 'Raleway';
    color: var(--text);
}

.product-price{
    vertical-align: bottom;
    text-align:center;
    font-family: 'Suranna';
    font-size: large;
    font-weight: bold;
    color: var(--primary);
}

.page-header{
    margin: 0;
    text-align: center;
    font-size: 22.5pt;
    color: var(--primary);
    font-family: 'DM Serif Display';
    font-weight:lighter;
    line-height: 50px;
}

.divider{
    border-top: 2px solid var(--primary);
    margin: 0;
    padding: 0;
}