{% extends "base.html" %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
<h1>
    Главная страница
</h1>
{% for category in categories %}
    <h1>{{ category.name }}</h1>
    <div class="gallery">    
        {% for product in products %}
            {% if product.category == category%}
            <div class="product-card">
            <img class="product-image" src="{{ product.image_url }}"/>
            <h2 class="product-name">{{ product.name }}</h2>
            <p class="product-brand">> By {{ product.brand }}</p>
            <p class="product-description">{{ product.description }}</p>
            <p class="product-price">{{ product.price }}₽</p>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}

{% endblock %}